# {{ ansible_managed }}
events {
    worker_connections 1024;
}

http {
    server {
        listen       {{ nginx_listen_port }} default_server;
        server_name  default_server;
        root         /usr/share/nginx/html;

        location / {
        }
        
        error_log  /var/log/nginx/error.log;
        error_log  syslog:server={{ log_server_ip }}:{{ log_server_port }},tag=nginx_error;
        access_log syslog:server={{ log_server_ip }}:{{ log_server_port }},tag=nginx_access,severity=info combined;

    }
}
